section {
    margin-bottom: 2em;
}

h1,
h2,
h3 {
    --pico-color: var(--pico-primary);
    --pico-background-color: transparent;
    background-color: var(--pico-background-color);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 44px;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

span.email b {
    display: none;
}

.cta-button {
    display: block;
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: #8e24aa;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: var(--pico-color) 1px solid;
}

.cta-button:hover,
.cta-button:focus {
    background-color: #4a148c;
}

.grid img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 0.1rem solid white;
}